{% import "_includes/forms" as forms %}

{% set iconOptions %}
    <table class="data">
        {% for name, label in toolbarIconOptions %}
            <tr>
                <td>
                    {{ forms.lightswitch({
                        on: field.enabledToolbarIconNames[name],
                        small: true,
                        name: 'enabledToolbarIconNames[' ~ name ~ ']'
                    }) }}
                </td>
                <td class="code">
                    {{ label }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endset %}

{{ forms.textField({
	id:     "tabSize",
	name:   "tabSize",
	size:   2,
	label:  "Tab size"|t,
	value:  field.tabSize ? field.tabSize : 2,
	errors: ""
}) }}

<p>{{ "Indent with tabs"|t }}</p>
{{ forms.lightswitch({
	name: "indentWithTabs",
	on:   field.indentWithTabs
}) }}

<p>{{ "Enable line wrapping"|t }}</p>
{{ forms.lightswitch({
	name: "enableLineWrapping",
	on:   field.enableLineWrapping
}) }}

<p>{{ "Enable spell checker"|t }}</p>
{{ forms.lightswitch({
	name: "enableSpellChecker",
	on:   field.enableSpellChecker
}) }}

<hr>
<p>{{ "Show toolbar"|t }}</p>
{{ forms.lightswitch({
    name: "showToolbar",
    on:   field.showToolbar
}) }}
<br>
<a class="fieldtoggle" data-target="advanced">{{ "Toolbar Customization"|t('app') }}</a>
<div id="advanced" class="hidden">

    {{ forms.field({
        label: "Enabled Toolbar Icons"|t('app'),
    }, iconOptions) }}
</div>
