{% import '_includes/forms' as forms %}

{% set alias = settings.pluginAlias %}

{% block content %}
    <div class="doxter">
        <h2>{{ plugin.name }}&nbsp;<span class="subtle">V{{ plugin.version }}</span></h2>

        <div class="section">
            <h3>{{ "Default Parsing Settings"|t }}</h3>

            <div class="block">
                <p>{{ "Enable Typography Styles?"|t }}</p>
                {{ forms.lightswitch({
                    name: "addTypographyStyles",
                    on:   settings.addTypographyStyles
                }) }}
            </div>

            <div class="block">
                <p>{{ "Enable Shortcode Parsing?"|t }}</p>
                {{ forms.lightswitch({
                    name: "parseShortcodes",
                    on:   settings.parseShortcodes
                }) }}
            </div>

            <div class="block">
                <p>{{ "Enable Reference Tag Parsing?"|t }} </p>
                {{ forms.lightswitch({
                    name:    "parseReferenceTags",
                    on:        settings.parseReferenceTags
                }) }}
            </div>
        </div>

        <div class="section">
            <h3>{{ "Header Parsing Settings"|t }}</h3>

            <div class="block">
                <p>{{ "Enable Header Parsing?"|t }}</p>
                {{ forms.lightswitch({
                    name: "addHeaderAnchors",
                    on:   settings.addHeaderAnchors
                }) }}
            </div>

            <div class="block">
                {{ forms.selectField({
                    id:           "startingHeaderLevel",
                    name:         "startingHeaderLevel",
                    label:        "What do you want the starting header level to be?"|t,
                    options:      { "1": "Level 1", "2": "Level 2", "3": "Level 3", "4": "Level 4", "5": "Level 5", "6": "Level 6" },
                    value:        settings.startingHeaderLevel,
                    errors:       ""
                }) }}
            </div>

            <div class="block">
                <p>{{ "Which headers do you want to make linkable by default?"|t }}</p>
                <div class="checkboxGroup">
                    {{ forms.checkboxGroup({
                        id:      "addHeaderAnchorsTo",
                        name:    "addHeaderAnchorsTo",
                        options: {"h1": "H1", "h2": "H2", "h3": "H3", "h4": "H4", "h5": "H5", "h6": "H6"},
                        values:  settings.addHeaderAnchorsTo,
                        errors:  ""
                    }) }}
                </div>
            </div>
        </div>

        <div class="section">
            <h3>{{ "Code Block Settings"|t }}</h3>

            <div class="block">
                {{ forms.textareaField({
                    id:           "codeBlockSnippet",
                    name:         "codeBlockSnippet",
                    class:        "code codeBlockSnippet",
                    rows:         3,
                    label:        "Container Snippet",
                    instructions: "A snippet to wrap fenced code blocks for your syntax highlighter to use. <kbd>{languageClass}<kbd> <kbd>{sourceCode}</kbd>"|md|t,
                    value:        settings.codeBlockSnippet,
                    required: true,
                    errors:       settings.hasErrors('codeBlockSnippet')
                }) }}

                <button class="addPrismSnippetBtn btn" data-highlighter="PrismJs">Prism JS</button>
                <button class="addRainbowSnippetBtn btn" data-highlighter="RainbowJs">Rainbow JS</button>
                <button class="addHighlightSnippetBtn btn" data-highlighter="HighlightJs">Highlight JS</button>
            </div>
        </div>

        <hr>

        <div class="section">
            <h3 class="ico settings">{{ "Plugin Settings"|t }}</h3>

            <p>{{ "Display Plugin Tab?"|t }}</p>
            {{ forms.lightswitch({
                name: "enableCpTab",
                on:   settings.enableCpTab
            }) }}

            {{ forms.textField({
                id:           "pluginAlias",
                name:         "pluginAlias",
                label:        "Plugin Alias"|t,
                instructions: "Allows you to rename to something more meaningful while retaining its name internally."|t,
                value:        alias,
                errors:       ""
            }) }}
        </div>
        <br>
        <div class="section credits">
            <p>
                &copy; {{ "now" | date("Y") }}
                <strong>{{ plugin.name }} <span class="subtle">V{{ plugin.version }}</span></strong>
                <em>by</em>
                <a href="https://selvinortiz.com" title="Selvin Ortiz" target="_blank">Selvin Ortiz</a>
            </p>
        </div>
    </div>

{% endblock %}
