.CodeMirror {
    font-size: 1.1em !important;
}

#main-container.fullscreen {
    z-index: 999;
}

.editor-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 100;
    opacity: initial;
    background-color: white;
    border-bottom: 1px solid #bbb;
}

.editor-toolbar:hover {
    opacity: initial;
}

/* Dark Mode */
.doxter.dark .CodeMirror {
    border: none !important;
    background-color: #333f4d !important;
    color: rgba(255, 255, 255, .75) !important;
}

.doxter.dark .CodeMirror:before {
    content: none !important;
}

.doxter.dark .CodeMirror .CodeMirror-cursor {
    border-color: rgba(255, 255, 255, 1) !important;
}

.doxter.dark .CodeMirror .cm-spell-error {
    background-color: #7b3e84 !important;
}

.doxter.dark .editor-toolbar {
    border: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #26303a !important;
}

.doxter.dark .editor-toolbar:before,
.doxter.dark .editor-toolbar:after {
    content: none !important;
}

.doxter.dark .editor-toolbar a,
.doxter.dark .editor-toolbar a:link,
.doxter.dark .editor-toolbar a:visited {
    color: rgba(255, 255, 255, .5) !important;
}

.doxter.dark .editor-toolbar a:hover,
.doxter.dark .editor-toolbar a:active,
.doxter.dark .editor-toolbar a:focus,
.doxter.dark .editor-toolbar a.active {
    color: rgba(255, 255, 255, 1) !important;
    border-color: transparent !important;
    background-color: transparent !important;
}
