{%- set src = shortcode.params.src ?? '' -%}
{%- set alt = shortcode.params.alt ?? '' -%}
{%- set class = shortcode.params.class ?? '' -%}
{%- set requestedWrapper = shortcode.params.wrapper ?? null -%}
{%- set wrapper = requestedWrapper in ['figure', 'div', 'p'] ? requestedWrapper : null -%}
{%- set image %}<img src="{{ src }}" alt="{{ alt }}" class="{{ class }}" />{% endset -%}

{%- if wrapper -%}
    {% apply spaceless %}
        <{{ wrapper }}>
            {{ image }}
            {{ shortcode.content }}
        </{{ wrapper }}>
    {% endapply %}
{% else %}
    {{- image -}}
{% endif %}
